
<section id="about">
<h1>About me</h1>
<p>My name is sebastian, i currently live in the city of cali, colombia, i enjoy software development the most. i recently started my studies as a systems engineer.
  i am an enthusiast of autonomous learning and my favorite motto is, think, act and program. if you’re interested in contact me feel free to send an email above ;)</p>
<div class="margin" ></div>
<img src="" alt="">
<img src="tux.gif" alt="tux" class="tux">

<p class="blog">I have a blog, do you want to check it out?</p>


</section>

<style>


.tux{
  height: 90px;
  bottom: 140px;
  position: absolute;
}
  h1{
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    font-weight: 500;
    position: absolute;
    color: #f0f8ffc9;
    font-size: 30px;
  }

  p{
    width: 500px;
    text-align: justify;
    left: 100px;
    top: 200px;
    font-weight: 400;
    position: absolute;
    color: #f0f8ffb6;
    font-size: 18px;

  }

  .blog{
    position: relative;
  }
        section{
      overflow-x: hidden;
      position: relative;
      z-index: 2;
      padding-left: 100px;
      display: flex;
      align-items: center;
        background-color: transparent;
        height: 680px;
        width: 100%;
    }

    section:before {
 	 content: "";
	  background-color: transparent;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  	background-repeat: repeat;
 	 background-size: 182px;
 	 opacity: 0.1;
 	 top: 0;
 	 left: 0;
 	 position: absolute;
 	 width: 100%;
 	 height: 100%;
	  z-index: -1;

}
</style>