---

---

<section id="contact">
<h2>Let's connect</h2>
<form class="formulario">
    <label for="name">Your name</label>
    <input type="text" id="name" autocomplete="off" required>

    <label for="email">Your email</label>
    <input type="email" id="email" autocomplete="off"required>

    <label for="asunto">Subject</label>
    <input type="text" id="asunto"autocomplete="off" required>

    <label for="info">Additional information</label>
    <textarea id="info" class="text"autocomplete="off" required></textarea>

   

    <button class="submit">Send</button>
</form>

</section>
<style>

 
     section{

      font-weight: 700;
        font-size: 40px;
        color: #abffd1;
        flex-direction: column;
      overflow-x: hidden;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: start;
      padding-left: 100px;
        height: 680px;
        width: 100%;
        gap: 50px;
    }
    section:before {
 	 content: "";
	  background-color: transparent;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  	background-repeat: repeat;
 	 background-size: 182px;
 	 opacity: 0.1;
 	 top: 0;
 	 left: 0;
 	 position: absolute;
 	 width: 100%;
 	 height: 100%;
	  z-index: -1;

}

    .formulario{
      position: relative;
      width: 500px;
      border-radius: 20px;
      font-size: 15px;
      height: 500px;
      padding: 20px;
      display: flex;
      background-color: rgb(24, 24, 24);
      
      flex-direction: column;
      justify-content: space-around;
    }

    .formulario input{
      color: aliceblue;
      font-weight: 400;
      padding: 10px;
      outline: none;
      height: 35px;
      border-radius: 10px;
      margin-bottom: 20px;
      background-color: rgb(37, 37, 37);
    }

    .formulario .text {
  color: aliceblue;
  font-weight: 400;
  display: flex;
  outline: none;
  padding: 10px;
  width: 100%;
  max-height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgb(37, 37, 37);
  overflow-y: auto; 
}

/* Scrollbar minimalista */
.formulario .text::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra */
}

.formulario .text::-webkit-scrollbar-track {
  background: transparent; 
}

.formulario .text::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}

.formulario .text::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}


    .formulario button{
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      border-radius: 10px;
      height: 35px;
      position: absolute;
      width: 100px;
      background-color: #008f40;
    }

   
    @media screen and (max-width: 1000px) {
       section{
        align-items: center;
        padding: 0;
       }
    }

    @media screen and (max-width: 580px) {
       .formulario{
        width: 350px;
       }
    }
</style>
<script>
import "../components/sendMail.js"

</script>