---
import Terminal from '../components/Terminal.astro'
---


<section id="" >
  <div class="container" >
    <div class="circle" ></div>
    <div class="circle2" ></div>

    <h1>Hi</h1>
    <p class="im">I’m <forte class="bolder">Sebastián Zapata</forte></p>
    <h3>Full-Stack developer</h3>
    <h4>Cali, Colombia</h4>
    <button>Download CV</button>
    <Terminal />
  </div>

</section>
<style>

    section{
      position: relative;
      z-index: 2;
      padding-left: 100px;
      display: flex;
      align-items: center;
        background-color: transparent;
        height: 680px;
        width: 100%;
    }

    section:before {
 	 content: "";
	  background-color: transparent;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  	background-repeat: repeat;
 	 background-size: 182px;
 	 opacity: 0.1;
 	 top: 0;
 	 left: 0;
 	 position: absolute;
 	 width: 100%;
 	 height: 100%;
	  z-index: -1;

}

    .container{
      font-weight: 100;
      font-size: 40px;
  
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: start;
      color: #FFFFFF;
      font-family: 'League Spartan', sans-serif;
    }

    .container .im .bolder{
      color: #00B551;
      font-weight: 750;
    }

    .container h3{
      font-size: 30px;
      font-weight: 400;
      color: #90ff9f;
      
    }

    .container h4{
      font-size: 25px;
      font-weight: 400;
      color: #90ff9f8f;
    }

    .container button{
      width: 200px;
      border-radius: 25px;
      padding: 20px;
      font-weight: 500;
      background-color: #00B551;
      font-size: 20px;
      position: absolute;
      left: 200px;
      bottom: 110px;
      color: #ffffffd5;
    }
 
    .circle{
      left: -110px;
      z-index: -1;
      top: -100px;
      border-radius: 100%;
      position: absolute;
      height: 300px;
      border-left: #00b55191 solid 2px;
     
      width: 300px;
      animation-name: rotate;
      animation-duration: 0.6s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
      transform: rotate(1deg);
    
    }

    

    .circle2{
       border: #00b55100 solid 2px;
      
      animation-name: rotate;
      animation-duration: 0.6s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      right: 450px;
      z-index: -1;
      bottom: 70px;
      border-radius: 100%;
      position: absolute;
      height: 300px;

      width: 300px;
    } 
    @keyframes rotate {
0%{
  border-top: #00b55152 solid 2px;
}

50%{
  border-left: #00b551 solid 2px;
  border-right: #00b551 solid 2px;
}
      100%{
        transform: rotate(360deg);
       border: #00b55150 solid 2px;
      }
    }

    @media screen and (max-width: 1200px) {
       .circle2{
        right: 380px;
       }
    }
    @media screen and (max-width: 1100px) {
      section{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
       
      }
      .circle2{
        right: -100px;
       }
      .container{
        display: flex;
      align-items: center;
      justify-content: center;
      }
       
    }


</style>