<section id="" >
  <div class="container" >
    <h1>Hi</h1>
    <h2>I'm <p class="bolder">Sebastián Zapata</p></h2>
    <h3>Full-Stack developer</h3>
    <p>Cali, Colombia</p>
    <button>Download CV</button>
  </div>

</section>
<style>

    section{
      z-index: 2;
      padding-left: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
        background-color: transparent;
        height: 100%;
        width: 100%;
    }

    .container{
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: start;
      color: #CEFFD5;
      font-family: 'League Spartan', sans-serif;
    }
</style>