<nav class=" h-12  absolute w-full bg-white flex items-center " >
    <ul class="w-full flex flex-row  justify-around items-center" >
        <li><a href="#projects">Projects</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="#skills">Skills & Tools</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About me</a></li>
    </ul>
</nav>

<style>
    nav{
        background-color: #202020;
        font-family: league spartan;
        color: #CEFFD5;
        font-size: 20px;

    }

 @media screen and (max-width: 600px) {
        ul{
            font-size: 15px;
        }
    
 }
</style>

