<nav class=" h-12  w-full bg-white  items-center  navbar ">
    <ul class="w-full flex flex-row   items-center" >
        <li class="nav-link"><a href="#projects">Projects</a></li>
        <li  class="nav-link2"><a href="https://sb4ss-blog.vercel.app/">Blog</a></li>
        <li class="nav-link3" ><a href="#skills">Skills & Tools</a></li>
        <li class="nav-link4" ><a href="#contact">Contact</a></li>
        <li class="nav-link5" ><a href="#about">About me</a></li>
    </ul>
   <button class="quitnav" ><i class="fa-solid fa-x"></i></button>
</nav>

<style>
    nav{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: rgba(49, 49, 49, 0.575);
        backdrop-filter: blur(20px);
        font-family: league spartan;
        color: #CEFFD5;
        font-size: 20px;
        padding-left: 10px;
    }

    .quitnav{
        display: none;
    }
    li{
        margin-right: 40px;
    }

 @media screen and (max-width: 600px) {
        ul{
            font-size: 15px;
        }
    
 }

 @media screen and (max-width: 800px){
    nav{
        position: absolute;
    }
    ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }

    ul li{
        font-size: 25px;
        margin-top: 30px;
    }

    nav{
        overflow-x: none;
        border-radius: 0px 0px 15px 0px;
        left: -600px;
        height: 100vh;
        width: 400px;
        transition: left 0.5s;
    }

    .navActive{
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        left: 0px;
    }
    .quitnav{
        display: block;
        visibility: visible;
        right: 20px;
        top: 20px;
        position: absolute;
        height: 20px;
        width: 20px;
    }

 }
</style>
<script>
    import "../components/Navbar.js"
  </script>
