---
import { getCollection } from "astro:content";
const projectsCard = await getCollection("projects");
import JS from "../components/stack/JS.astro"
import Node from "../components/stack/Node.astro"
---
<div class="container">
    {projectsCard.map((card) => {
        const { data } = card;
        const { title, desc, img, tech } = data;
        const Render = true;
        
        return (
          <div class="card">
            <div>
              <h2>{title}</h2>
              <img src={img} alt="imagen" />
              <p>{desc}</p>
              <div class="tech">
                {Object.values(tech).map((techName) => (
                    <> 
                  {Render && techName === "JavaScript" ? <JS /> : null}
                  {Render && techName === "Node" ? <Node /> : null}
                  </>
                ))}
              </div>
            </div>
          </div>
        );
      })}
      

    <div/>
<style>


    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100%;
      
    }

    .card{
        width: 500px;
        margin: 20px;
        background-color: rgb(41, 41, 41);
        height: 500px;
    }

    .card img{
        height: 30px;
    }
</style>


