---
import { getCollection } from "astro:content";
const projectsCard = await getCollection("projects");
---
<div class=>
    {projectsCard.map((card) => {
        const { data } = card;
        const { title, desc, img, tech } = data;
        return (
            <div >
                <img src={img} alt="imagen"  />
                <div >
                    <h2 >{title}</h2>
                    <p >{desc}</p>
                    <div >
                        {tech.split(",").map((item) => (
                            <span >{item.trim()}</span>
                        ))}
                    </div>
                </div>
            </div>
        );
    })}
</div>


