<div class="terminal" > 
    <div class="title" >Bash</div>
    <section>
        <div class="text1">-$ node portfolio.js</div>
        <div class="text2">ejecuting...</div>
        <div class="text3">Welcome ;)</div>

    </section>
</div>
  <style>
    .terminal{
        border-radius: 15px;
        top: 150px;
        right: 150px;
        height: 350px;
        width: 500px;
        position: absolute;
        background-color: #161616;
    }
  </style>