<span>React 
    <i class="devicon-astro-plain"></i>
   </span>
<style>
    span{
        font-family:quicksand;
        font-weight: 600;
        color: rgba(0, 162, 255, 0.836);
        border: 1px solid rgba(0, 162, 255, 0.836);
        border-radius: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 15px;
        transition: 0.2s;
        margin: 5px;

    }

    span:hover{
        transition: 0.2s;
        background-color: rgba(0, 162, 255, 0.836);
        color: rgb(39, 39, 39);
    }
</style>